.row {
    display: flex;
    justify-content: space-around;
    background-color: rgb(221, 146, 47);
    padding: 16px 16px;
}

.col {
    background-color: brown;
    color: white;
    padding: 10px 16px;
    border-radius: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.active {
    color: brown;
    background-color: white;
    font-weight: bold;
}

.col:hover {
    background-color: white;
    color: brown;
}