<app-navbar></app-navbar>
<div class="title">
    Project Structure
</div>

<div class="container">
    <div class="route-box" (click)="navigate('route1')">
        <div class="head">Route 1</div>
        <div class="body">
            <img src="./../../../assets/images/route1.PNG" alt="Route 1 Image">
        </div>
        <div class="foot">
            A Banner with floating rotating text.
        </div>
    </div>
    <div class="route-box" (click)="navigate('route2')">
        <div class="head">Route 2</div>
        <div class="body">
            <img src="./../../../assets/images/route2.PNG" alt="Route 2 Image">
        </div>
        <div class="foot">
            A product shopping page with grid view and list view and filter by price feature.
        </div>
    </div>
    <div class="route-box" (click)="navigate('route3')">
        <div class="head">Route 3</div>
        <div class="body">
            <img src="./../../../assets/images/route3.PNG" alt="Route 3 Image">
        </div>
        <div class="foot">
            A 4 sibling timer component implemented using input output decorators.
        </div>
    </div>
    <div class="route-box" (click)="navigate('route4')">
        <div class="head">Route 4</div>
        <div class="body">
            <img src="./../../../assets/images/route4.PNG" alt="Route 4 Image">
        </div>
        <div class="foot">
            A 4 sibling timer component implemented using service using subject.
        </div>
    </div>
    <div class="route-box" (click)="navigate('route5')">
        <div class="head">Route 5</div>
        <div class="body">
            <img src="./../../../assets/images/route5.PNG" alt="Route 5 Image">
        </div>
        <div class="foot">
            A student table fetched from json file with sorting feature.
        </div>
    </div>
    <div class="route-box" (click)="navigate('route6')">
        <div class="head">Route 6</div>
        <div class="body">
            <img src="./../../../assets/images/route6.PNG" alt="Route 6 Image">
        </div>
        <div class="foot">
            A dynamically div generating component with alert feature on every div.
        </div>
    </div>
</div>