<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col center">
            <div class="timer-counter">
                <div class="title">Count down timer</div>
                <div class="time">{{timeLeft}}</div>
            </div>
        </div>
        <div class="col center">
            <app-tinput></app-tinput>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-tlogger></app-tlogger>
        </div>
        <div class="col center">
            <app-tcounter class="background"></app-tcounter>
        </div>
    </div>
</div>